@mixin backgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin bilboardBlock {
    width: 25%;
    @include backgroundImage;
    text-align: left;
    padding: 2% 0% 2% 2%;
    & h4 {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        margin: 35% 0 5% 0;
    }
    & h5 {
        font-size: 13px;
        font-weight: 300;
        color: #ffffff;
    }
}

@mixin titleH1 {
    font-size: 90px;
    font-weight: 700;
}

@mixin formS {
    width: 60%;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    background-color: #00c4c463;
    border: none;
    padding: 2%;
    margin: 1% 0;
}

@mixin buttonS {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
    color: #ffffff;
    padding: 1%;
}

@mixin titleP {
    font-size: 17px;
    font-weight: 300;
}