.main {
  width: 100%;
  font-family: Raleway;
}

.main .fresh {
  width: 100%;
  background-image: url("../images/background_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4% 8% 3% 8%;
}

.main .fresh__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .fresh__head img {
  margin: -2% 0 0 4.5%;
}

.main .fresh__nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .fresh__nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #262626;
}

.main .fresh__nav_home {
  border-top: 3px solid #ff6033;
  padding-top: 1%;
  margin-top: -1.5%;
}

.main .fresh__body {
  margin: 22% 0 0 5%;
}

.main .fresh__body h1 {
  font-size: 60px;
  font-weight: 900;
  color: #262626;
}

.main .fresh__body p {
  width: 30%;
  font-size: 17px;
  font-weight: 300;
  color: #262626;
  margin: -2% 0 2% 0%;
}

.main .fresh__body a {
  width: 15%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff6033;
  padding: 1%;
}

.main .fresh__scroll {
  margin: 20% 0 0% 52%;
}

.main .about {
  width: 100%;
  background-image: url("../images/background_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 12% 16% 55%;
}

.main .about__text h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
}

.main .about__text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
}

.main .services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/background_3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 0% 10% 15%;
}

.main .services__list_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
}

.main .services__list_element h5 {
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  border-right: 1px solid #bababa;
}

.main .services__list_element_online {
  padding: 40px 85px 0 20px;
}

.main .services__list_element_quality {
  padding: 40px 98px 0 25px;
}

.main .services__list_element_domestic {
  width: 71%;
  padding: 28px 7px 0 0;
}

.main .services__list_element_well {
  padding: 40px 103px 0 20px;
}

.main .services__list_element img {
  padding-left: 5%;
}

.main .services h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  margin: 10% 0 0 15%;
}

.main .gallery {
  width: 100%;
  text-align: center;
  background-image: url("../images/background_4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3% 3% 3% 3%;
}

.main .gallery h1 {
  font-size: 90px;
  font-weight: 700;
}

.main .gallery h5 {
  width: 42%;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: #262626;
  margin: -3% auto 3% auto;
}

.main .gallery__line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .gallery__line1_second p {
  margin: 0 0 4% 4%;
}

.main .gallery__line2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0.5%;
}

.main .gallery__line2_photo5 {
  margin-left: 3.5%;
}

.main .gallery a {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #5585a2;
  padding: 1%;
  margin: 2% auto 4% auto;
}

.main .subscribe {
  width: 100%;
  background-image: url(../images/background_5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8% 0 8% 10%;
}

.main .subscribe h1 {
  font-size: 40px;
  font-weight: 700;
}

.main .subscribe p {
  width: 40%;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
}

.main .subscribe input {
  width: 42%;
  padding: 1%;
  margin: 2% 1.5% 0 0;
}

.main .subscribe button {
  width: 12%;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #96b92c;
  padding: 0.7% 1% 1% 1%;
}
/*# sourceMappingURL=style.css.map */