@import "mixins";

.main {
    width: 100%;
    font-family: Raleway;
    & .fresh {
        width: 100%;
        background-image: url("../images/background_1.png");
        @include backgroundImage;
        padding: 4% 8% 3% 8%;
        &__head {
            display: flex;
            justify-content: space-between;
            & img {
                margin: -2% 0 0 4.5%;
            }
        }
        &__nav {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            & a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
            }
            &_home {
                border-top: 3px solid #ff6033;
                padding-top: 1%;
                margin-top: -1.5%;
            }
        }
        &__body {
            margin: 22% 0 0 5%;
            & h1 {
                font-size: 60px;
                font-weight: 900;
            }
            & p {
                width: 30%;
                @include titleP;
                margin: -2% 0 2% 0%;
            }
            & a {
                width: 15%;
                @include buttonS;
                background-color: #ff6033;
            }
        }
        &__scroll {
            margin: 20% 0 0% 52%;

        }
    }
    .about {
        width: 100%;
        background-image: url("../images/background_2.png");
        @include backgroundImage;
        padding: 5% 12% 16% 55%;
        &__text h1 {
            @include titleH1;
            color: #ffffff;
        }
        &__text p {
            @include titleP;
            line-height: 1.5;
            color: #ffffff;
        }
    }
    .services {
        width: 100%;
        display: flex;
        background-image: url("../images/background_3.png");
        @include backgroundImage;
        padding: 10% 0% 10% 15%;
        &__list_element {
            display: flex;
            justify-content: center;
            text-align: center;
            background-color: #ffffff;
            box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            -webkit-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            margin-top: 5%;
            & h5 {
                height: 100px;
                font-size: 20px;
                font-weight: 700;
                border-right: 1px solid #bababa;
            }
            &_online {
                padding: 40px 85px 0 20px;
            }
            &_quality {
                padding: 40px 98px 0 25px;
            }
            &_domestic {
                width: 71%;
                padding: 28px 7px 0 0;
            }
            &_well {
                padding: 40px 103px 0 20px;
            }
            & img {
                padding-left: 5%;
            }
        } 
        & h1 {
            @include titleH1;
            color: #ffffff;
            margin: 10% 0 0 15%;
        } 
    }
    .gallery {
        width: 100%;
        text-align: center;
        background-image: url("../images/background_4.png");
        @include backgroundImage;
        padding: 3% 3% 3% 3%;
        & h1 {
            @include titleH1;
        }
        & h5 {
            width: 42%;
            @include titleP;
            line-height: 1.5;
            margin: -3% auto 3% auto;
        }

        &__line1 {
            display: flex;
            justify-content: center;
            &_second p {
                margin: 0 0 4% 4%;
            }
        }
        &__line2 {
            display: inline-flex;
            margin-top: 0.5%;
            &_photo5 {
                margin-left: 3.5%;
            }
        }
        & a {
            width: 13%;
            @include buttonS;
            background-color: #5585a2;
            margin: 2% auto 4% auto;
        }
    }
    .subscribe {
        width: 100%;
        background-image: url(../images/background_5.png);
        @include backgroundImage;
        padding: 8% 0 8% 10%;
        & h1 {
            font-size: 40px;
            font-weight: 700;
        }
        & p {
            width: 40%;
            @include titleP;
            line-height: 1.2;
        }
        & input {
            width: 42%;
            padding: 1%;
            margin: 2% 1.5% 0 0;
        }
        & button {
            width: 12%;
            font-size: 20px;
            font-weight: 300;
            color: #ffffff;
            background-color: #96b92c;
            padding: 0.7% 1% 1% 1%;
        }
    }
    .blog {
        width: 100%;
        text-align: center;
        background-image: url("../images/background_6.png");
        @include backgroundImage;
        padding: 1% 0% 6% 0;
        & h1 {
            @include titleH1;
            color: #ffffff;
        }
        & p {
            width: 38%;
            @include titleP;
            line-height: 1.5;
            color: #ffffff;
            margin: -2% auto 3% auto;
        }
        &__bilboards {
            display: flex;
            justify-content: space-evenly;
            &_block1 {
                background-image: url("../images/blog_image1.png");
                @include bilboardBlock;
            }
            &_block2 {
                background-image: url("../images/blog_image2.png");
                @include bilboardBlock;
                margin: 0 -7%;
            }
            &_block3 {
                background-image: url("../images/blog_image3.png");
                @include bilboardBlock;
            }
        }
        & a {
            width: 13%;
            @include buttonS;
            background-color: #f72b3b;
            margin: 3% auto 0 auto;
        }
    }
    .contact {
        width: 100%;
        text-align: center;
        background-image: url("../images/background_7.png");
        @include backgroundImage;
        padding: 1% 0% 8% 0%;
        & h1 {
            @include titleH1;
        }
        & p {
            width: 25%;
            @include titleP;
            margin: -3% auto 3% auto;
        }
        &__communication {
            display: flex;
            &_form {
                width: 60%;
                & input {
                    @include formS;
                }
                & textarea {
                    @include formS;
                }
            }
            &_adress {
                text-align: left;
                & h3 {
                    font-size: 17px;
                    font-weight: 700;
                    margin-top: 4%;
                }
                & h4 {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262626;
    padding: 2%;
    & h4 {
        font-size: 16px;
        font-weight: 300;
        color: #b9b9b9;
    }
    
    & h5 {
        font-size: 15px;
        font-weight: 300;
        color: #b9b9b9;
        & span {
            font-weight: 700;
            color: #ff2b58;
        }
    }
}

.main .fresh__body a:hover {
    background-color: #ff5f3385;
}

.main .services__list_element:hover {
    background-color: #26262681;
}

.main .gallery__button a:hover {
    background-color: #02090ed3;
}

.main .subscribe button:hover {
    background-color: #727b8f;
}

.main .blog a:hover {
    background-color: #c3abe6;
}

.main .contact__communication_form input:hover {
    border-left: 5px solid #355b82;
    background-color: #00c4c4;
}

.main .contact__communication_form textarea:hover {
    border-left: 5px solid #355b82;
    background-color: #00c4c4;
}