@import "mixins";

.main {
    width: 100%;
    font-family: Raleway;
    & .fresh {
        width: 100%;
        background-image: url("../images/background_1.png");
        @include backgroundImage;
        padding: 4% 8% 3% 8%;
        &__head {
            display: flex;
            justify-content: space-between;
            & img {
                margin: -2% 0 0 4.5%;
            }
        }
        &__nav {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            & a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                color: #262626;
            }
            &_home {
                border-top: 3px solid #ff6033;
                padding-top: 1%;
                margin-top: -1.5%;
            }
        }
        &__body {
            margin: 22% 0 0 5%;
            & h1 {
                font-size: 60px;
                font-weight: 900;
                color: #262626;
            }
            & p {
                width: 30%;
                font-size: 17px;
                font-weight: 300;
                color: #262626;
                margin: -2% 0 2% 0%;
            }
            & a {
                width: 15%;
                text-decoration: none;
                font-size: 20px;
                font-weight: 300;
                color: #ffffff;
                display: flex;
                text-align: center;
                justify-content: center;
                background-color: #ff6033;
                padding: 1%;
            }
        }
        &__scroll {
            margin: 20% 0 0% 52%;

        }
    }
    .about {
        width: 100%;
        background-image: url("../images/background_2.png");
        @include backgroundImage;
        padding: 5% 12% 16% 55%;
        &__text h1 {
            font-size: 90px;
            font-weight: 700;
            color: #ffffff;
        }
        &__text p {
            font-size: 17px;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
        }
    }
    .services {
        width: 100%;
        display: flex;
        background-image: url("../images/background_3.png");
        @include backgroundImage;
        padding: 10% 0% 10% 15%;
        &__list_element {
            display: flex;
            justify-content: center;
            text-align: center;
            background-color: #ffffff;
            box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            -webkit-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
            margin-top: 5%;
            & h5 {
                height: 100px;
                font-size: 20px;
                font-weight: 700;
                border-right: 1px solid #bababa;
            }
            &_online {
                padding: 40px 85px 0 20px;
            }
            &_quality {
                padding: 40px 98px 0 25px;
            }
            &_domestic {
                width: 71%;
                padding: 28px 7px 0 0;
            }
            &_well {
                padding: 40px 103px 0 20px;
            }
            & img {
                padding-left: 5%;
            }
        } 
        & h1 {
            font-size: 90px;
            font-weight: 700;
            color: #ffffff;
            margin: 10% 0 0 15%;
        } 
    }
    .gallery {
        width: 100%;
        text-align: center;
        background-image: url("../images/background_4.png");
        @include backgroundImage;
        padding: 3% 3% 3% 3%;
        & h1 {
            font-size: 90px;
            font-weight: 700;
        }
        & h5 {
            width: 42%;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.5;
            color: #262626;
            margin: -3% auto 3% auto;
        }

        &__line1 {
            display: flex;
            justify-content: center;
            &_second p {
                margin: 0 0 4% 4%;
            }
        }
        &__line2 {
            display: inline-flex;
            margin-top: 0.5%;
            &_photo5 {
                margin-left: 3.5%;
            }
        }
        & a {
            width: 13%;
            display: flex;
            text-decoration: none;
            font-size: 20px;
            font-weight: 300;
            justify-content: center;
            color: #ffffff;
            background-color: #5585a2;
            padding: 1%;
            margin: 2% auto 4% auto;
        }
    }
}